{%set active_page='bookmarks'%}
{%extends 'linkolearn_theme/templates/base.html'%}

{%block head%}
<title>Learn By Links</title>
<style type="text/css">
  .link-outer a{
    color: #0366d6;
    font-size: 30px;
  }
</style>
{%endblock%}
{%block body%}
<br><br>
<div class="container-fluid">
    <h2>My Bookmarks</h2>
    {%for bookmark_list in current_user.user_bookmark_lists%}
    <p class="m-0 link-outer ps-5 m-0">
      <b><a href="{{ bookmark_list.bookmark_list_path.get_url() }}">{{bookmark_list.bookmark_list_path.title}}</a></b>
    </p>
        
    {%endfor%}
</div>
{%endblock%}