{%set active_page='profile'%}
{%extends 'linkolearn_theme/templates/base.html'%}
{%block head%}
<title>Learn By Links</title>
<link href="https://emoji-css.afeld.me/emoji.css" rel="stylesheet">
<style type="text/css">
	.profile-icon{
		font-size: 50px;
		border: 1px solid orange; 
		width: 9vw; height: 9vw; 
		border-radius: 50%;
	}
	.profile-name{
		font-size: 25px;
	}
	.profile-repo{
		font-size: 25px !important;
	}
	.info-icon i{
		color: #6a737d;
	}
	
	.link-outer a{
		color: #0366d6;
		font-size: 30px;
	}
	.link .heart-icon {
		line-height: 50px;
		font-size: 20px;
		color: #6a737d;
	}
	.liked{
		color: #22b24c !important;
	}
	.unliked{
		color: rgb(197, 197, 197);
	}
	@media only screen and (max-width: 600px) {
		.profile-icon{
			width: 15vw; height: 15vw;
		}
		.profile-name{
			font-size: 10px;
		}
		.profile-repo{
			font-size: 10px !important;
		}
		.btn {
			padding: 5px;
		}
	}
</style>
{%endblock%}
{%block body%}
<br>
<br>
<div class="container-fluid">
	<div class="row">
		<div class="col-3 ">
			<div 
			class="text-center">
				<i 
				style=""
				class="em {{user.emoji_class}} profile-icon p-0 m-0 shadow"></i>
			</div>
			<br>
			<br>
			<div style="padding-left: 1vw;">
				<p class="profile-name">{{user.first_name if user.first_name else 'First Name'}} <br> 
					{{user.last_name if user.last_name else 'Last Name'}}</p>
				<p class="profile-name"><b>{{user.username}}</b></p>
			</div>
			<!--
			<p>About</p>
			<div>
				<div>
					<div class="info-icon">
						<i class="fa fa-envelope"></i>
					</div>
					<div>
						
					</div>
				</div>
				<div>
					<div class="info-icon">
						<i class="fa fa-link"></i>
					</div>
					<div>
						
					</div>
				</div>
				<div>
					<div class="info-icon">
						<i class="fab fa-twitter"></i>
					</div>
					<div>
						
					</div>
				</div>
			</div>-->
		</div>
		<div class="col-9">
			<div>
				<div>
					 <button type="button" class="btn btn-primary">
					  <span class="profile-repo">Paths </span> <span class="badge bg-secondary profile-repo">{{len(user.paths)}}</span>
					</button>
					<button type="button" class="btn btn-primary">
						<span class="profile-repo">Likes </span>  <span class="badge bg-secondary profile-repo">{{len(user.user_like_lists)}}</span>
					</button>
				</div>
			</div>
			<br>
			<br>
			<br>
			<div>
				{%for path in user.paths%}
				{%if path.is_visible%}
				<div class="card p-2 link-outer">
						<b><a 
							href="{{path.get_url()}}" 
							class="p-0 m-0 profile-repo">{{ path.slug }}</a>
							<a 
							href="{{ url_for('linkolearn.toggle_like', path_id=path.id, next=url_for('www.user_profile', username=path.path_user.username)) }}"
							class="profile-repo link-repo"
							>
							<i 
							class="fa fa-heart heart-icon 
							{{ 'liked' if current_user in path.like_list.users else 'unliked' }}
							profile-repo"></i></a>
						</b>
					
				</div>
				{%endif%}
				{%endfor%}
			</div>
		</div>
	</div>
</div>
{%endblock%}