{%set active_page='path'%}
{%extends 'linkolearn_theme/templates/base.html'%}
{%block head%}
<title>Learn By Links</title>
{%endblock%}
{%block body%}
<br>
<br>
<div class="container">
	<p>
		<h5>What?</h5>
		<p>
			The internet offers millions and millions and billions of materials.<br>
			Instead of rewriting your own content on a particular subject to send to a friend, Linkolearn
			allows you to select appropriate articles, compile them into a course and send them friends
		</p>
		<h5>History</h5>
		<p>
			We originally had in mind to allow OpenSource project to draft courses to
			enable people to master the internals.<br>
			To become a core dev of a useful project, you need lots, lots of things to know.
			This project aims to make it easy to onboard people. You can even break the topic to 
			learn from basics to advanced.
		</p>
		<h5>The secret!</h5>
		<p>
			You can even use the website to store your bookmarks. It's like a research-driven notes manager.
		</p>
		<h5>Ypou can ...</h5>
		<p>
			<ul>
				<li>Mark courses as private (the globe button)</li>
			</ul>
			<ul>
				<li>Bookmark courses</li>
			</ul>
		</p>
	</p>
</div>
{%endblock%}