{%set active_page='path'%}
{%extends 'linkolearn_theme/templates/base.html'%}
{%block head%}
<title>Learn By Links</title>
{%endblock%}
{%block body%}
<br>
<br>
<div class="container">
	<p>
		<h5>What we collect?</h5>
		<p>
			Like ALL websites, we can access your IP and it ends up in our logs<br>
			Besides that we also collect what we ask you for in the registration process
		</p>

		<h5>Cookies</h5>
		<p>Cookies help some features work. We collect only what's stated above</p>
		<p>We also use <b>Google Analytics</b></p>

		<h5>Data Selling Policy</h5>
		<p>We don't sell or intend to sell your data</p>
	</p>
</div>
{%endblock%}